body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  width: 100%;
}
.hr2 {
  width: 100%;
}
.nav
 {
  margin-top: fixed;  width: 100%; margin-right: 10px;
}
.nav {
  overflow: hidden;
  background-color: #FF8886;
}

.nav a{
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;



}

.nav a:hover {
  background-color: red;
  color: white;
}

.nav a.active {
  background-color: transparent;
  color: white;
}



.logo {
  width: 340px;
  height: 120px;
}

.Love {
    float: left;
    position: relative;
    margin: -10px 5px -10px 0px;


}

#footer2 {
    background-color: transparent;
    clear: both;
    display: block;
    text-align: center;
    color: #FFF;
    font-size: small;
    padding: -20px 16px;
   bottom: 0;
   width: 100%;
   overflow: hidden;

}


#footer2 ul {
    text-align: center;
    height: auto;
    margin: 3vh;
    float: none;


}



#footer2 ul {
    text-align: center;
    height:auto;
}

#footer2 ul li {
    display:inline-table;
    margin-left: 50px;
}

#footer2 ul li a {
    text-decoration: none;
    padding-left: 20px;
    color: white;


   }

#footer2 ul li a:hover {
  background-color: transparent;
    color: black;
}

body {
  background-repeat: no-repeat;
  background-image: url('familyback.jpg');
  background-size: cover;

  }


a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 13px;

}

a:hover {
  color: black;
}

.previous {
  background-color: transparent;
  color: white;
  bottom: -20px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.4);
border-radius: 5px 5px 5px 5px;


}

.next {
  background-color: transparent;
  color: white;
   position: relative;
  left: 85%;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.4);
border-radius: 7px 7px 7px 7px;

}

body {
    animation: transitionIn 1.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg):
    to {
        opacity: 1;
        transform: rotateX(0deg);}

footer{
  color: pink;
}